/* You can either copy the below and paste it between style tags on your HTML page, OR you can copy this to a file and name it .css and link it from your HTML page. */

/* tip: you can add a scrollbar to any note by adding this property to its css class: overflow:auto; */ 

html, body {
  text-align: center;
  font-family:Optima;
}
p {
  text-align: center;
  margin-top:-4px;
}
a{ 
  color:#288a7e;
  text-decoration: none;
}
a:hover {
    color:#38a892; 
    text-decoration:underline; 
    cursor:pointer;
}
ul{
  list-style: none;
   padding-left: 0;
}

  .button {
  background-color: white; 
  border: none;
  color: white;
  width:110px;
  height:25px;
  text-align: center;
     display: flex;
  justify-content: center;
  align-items: center;
margin:3px;
  display: inline-block;
  font-size: 16px;
}

h1 {
  text-align: center;
  margin-top: -15px;
}

h2, h3 {
  text-align: center;
  margin-top:8px;
}

.content {
  background-image:url('https://yesterweb.org/img/bb/cork.png');
  margin:0 !important;
  height:auto;
  padding:100px !important;
  margin:0 auto;
}




.note-one {
  width:220px;
  height:350px;
  margin-left:20px;
  margin-top:20px;
  position:relative;
  background-color: #cbe0c3;
  background-image:url('https://yesterweb.org/img/bb/paper-3.png');
  overflow:auto;
}
.note-one > p {
  padding-top:30px;
}
.note-one-fg {
  background-color:#fff968;
  width:150px;
  height:150px;
  margin-left:auto;
  margin-right:auto;
  left: 0;
  right: 0;
  transform:rotate(-5deg);
  poisition:relative;
}
.note-one-fg::before {
   	 content: "";
	 position: absolute;
	 bottom: -1.9em;
	 right: 0;
	 border-width: 2em 2em 0 0;
	 border-style: solid;
	 border-color: #ddd756 transparent;
}
.note-one-fg::after {
	 content: "";
	 position: absolute;
	 bottom: -1.9em;
	 left: 0;
	 right: 1.9em;
	 border-width: 1em;
	 border-style: solid;
	 border-color: #fff968;
}
.note-two {
  background-color:#ffbcd9;
  width:110px;
  height:70px;
  margin-top:-20px;
  position:relative;
  transform:rotate(2deg);
}
.note-two::before {
   content: "";
	 position: absolute;
	 bottom: -1.8em;
	 right: 0;
	 border-width: 2em 2em 0 0;
	 border-style: solid;
	 border-color: #d8a2ab transparent;
  
}
.note-two::after {
	 content: "";
	 position: absolute;
	 bottom: -1.8em;
	 left: 0;
	 right: 1.9em;
	 border-width: 1em;
	 border-style: solid;
	 border-color: #ffbcd9;
}
.note-three {
  background-image:url('https://yesterweb.org/img/bb/lined_paper.png');
  width:350px;
  height:500px;
  transform:rotate(-2deg);
}
.note-three-top{
  background-color:#FAFAFA;
  width:350px;
  height:40px;
}
.note-four {
  background-color:#f2e8c7;
  width:200px;
  height:275px;
  transform:rotate(1deg);
}
.note-five {
  position:relative;
  background-color:#fbfcf2;
  box-sizing: border-box;
    padding: 10px;
  width:420px;
  height:660px;
   transform:rotate(2deg);
  background-image:url('https://sadgrl.online/images/bgs/tile/sandy.jpg');
}
.note-five-fg {
  background-color:#FFF968;
  width:100px;
  height:100px;
  position:absolute;
  top:0;
  right:0;
  transform:rotate(-3deg);
}
.row {
  display:flex;
  flex-wrap:wrap;
  margin-bottom:20px;
  justify-content:space-evenly;
  align-items:center;
}
.row > div {
  margin-right:30px;
  margin-bottom:30px;
}
.paperclip {
  max-width:60px;
  position:absolute;
  top:-30px;
  left:50px;
}
.blue {
  background-color:#cbe0c3;
  transform:rotate(-3deg);
  width:210px;
  height:190px;
}
.blue::before {
   content: "";
	 position: absolute;
	 bottom: -1.9em;
	 right: 0;
	 border-width: 2em 2em 0 0;
	 border-style: solid;
	 border-color: #b0d1a7 transparent;
  
}
.blue::after {
	 content: "";
	 position: absolute;
	 bottom: -1.9em;
	 left: 0;
	 right: 1.9em;
	 border-width: 1em;
	 border-style: solid;
	 border-color: #cbe0c3;
}
.small {
  background-color:#fce9bb;
  transform:rotate(-5deg);
  width:60px;
  height:40px;
}
.small::before {
   content: "";
	 position: absolute;
	 bottom: -1.2em;
	 right: 0;
	 border-width: 1.3em 1.3em 0 0;
	 border-style: solid;
	 border-color: #e8ca99 transparent;
  
}
.small::after {
	 content: "";
	 position: absolute;
	 bottom: -1.2em;
	 left: 0;
	 right: 1.2em;
	 border-width: 0.7em;
	 border-style: solid;
	 border-color: #fce9bb;
}
.tack {
  width:30px;
  margin:0 auto;
  display:block;
  margin-top:10px;
}
.larger {
  width:70px;
  margin-left:160px;
  margin-top:0px;
}
.tape {
  width:120px;
  margin-top:-32px;
  margin-left:-0px;
  transform:rotate(30deg);
}



.intro {
  width:500px;
  height:100px;
  text-align:center;
  background-color:#6d457d;
  background-image:url('https://yesterweb.org/img/bb/starring.png');
  color:white;
  transform:rotate(2deg);
}
.intro > p {
  margin:20px;
  padding:0;
}
