<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="icon" type="image" href="image.png">
</head>
<body>

  {% include header.html %}
  
<nav>
  <!-- Lien vers la page d'accueil -->
  <a href="{{ site.baseurl }}/">Homepage</a>
  
  <!-- Lien vers la page 'About' -->
  <a href="{{ site.baseurl }}/about/">Moi ?</a>
  
  <!-- Lien vers d'autres pages (vous devrez ajuster les liens pour ces pages) -->
  <a href="{{ site.baseurl }}/projets/">Mes projets ?</a>
  <a href="{{ site.baseurl }}/poemes/">Quel.le poète.sse je suis...</a>
  <a href="{{ site.baseurl }}/roman/">Mon roman ?</a>
</nav>
  </div>

  <div class="container">
    {{ content }}
  </div>

  {% include footer.html %}

</body>
</html>
